body {
  margin-left: 10%;
  margin-right: 10%;
  font-family: "Open Sans", sans-serif;
}

label {
  display: inline-block;
  width: 200px;
}

input {
  width: 500px;
  padding: 5px;
  font-size: 16px;
}

button {
  font-size: 16px;
  padding: 5px;
}

h1, h2 {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 10px;
}

h2 {
  color: #AAA;
  font-size: 32px;
}

h3 {
  font-weight: normal;
  color: #AAA;
  font-size: 24px;
}

.black {
  color: black;
}

#balance {
  color: black;
}

.hint {
  color: #666;
}

/* Header */

header nav {
	text-align: center;
}

header nav ul {
	list-style: none;
	display: inline-block;
	line-height: 100px;
}

header nav ul li {
	display: inline-block;
	padding: 0 30px;
}

header nav ul li a {
	text-decoration: none;
	font-weight: bold;
	font-size: 1.5em;
	color: #aaa;
}